@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{ font-family: 'Tenor Sans', sans-serif;}

.map-container{
  height: 100%;
  width: 100%
}

.map{
  height: 60vh;
  
}
