@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* { font-family: 'Tenor Sans', sans-serif;
 }

h1, h2, h3, h4, p {
  color: lightgray;
}

body{ 
  background-color: rgb(0, 0, 0);
  margin: 0px;
}

.map-container{
  height: 100%;
  width: 80%
}

.map{
  height: 60vw;
}

.global-bird{
  color: light-grey;
  background-color: #212121;
  margin: 5px;
}

.global-bird a{
  text-decoration: none;
}

.global-bird:hover {
  background-color: #616161;
}

